* {
	margin: 0;
	padding: 0;
}

#panel {
	position: absolute;
	width: 100%;
	background-color: black;
	opacity: 50%;
	bottom: 0;
	padding: 15px;
	color: white;
	font-size: 24px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	> section {
		display: flex;
		flex-direction: column;
		margin-right: 10px;

		> div {
			display: flex;
			align-items: center;

			input[type="range"],
			input[type="checkbox"] {
				margin-right: 5px;
			}
		}
	}
}
